html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* typography and icons */

h1{
    color: #0F8CDF;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.fa-solid{
    color: #999;
}

.liked{
    color: red;
}

.retweeted {
  color: limegreen;
}

/* layout */

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

/* textareas + btn */

textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
}

button{
    background-color: #1DA1F2;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%; 
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

/* edit tweet styles */

.edit-tweet-container{
    width: 100%;
}

.edit-tweet-textarea-container{
    font-size: 14px;
}

.edit-tweet-textarea{
    width: 90%;
    font-size: 16px;
    margin: 10px 0;
}

.tweet-edit-btn-container{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.edit-btn{
    font-size: 14px;
    margin: 0 0 15px 0;
}

.edit-tweet-warning-text{
    color: darkred;
    font-weight: bold;
    font-style: italic;
    margin-top: 0;
}

.cancel-edit-btn{
    background-color: #fff;
    color: #1DA1F2;
    border: 2px solid #1DA1F2;
    padding: 8px 17px;
}

/* tweet */

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

/* tweet options menu */

.dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    border: 1px solid lightgray;
    box-shadow: 0 2px 5px lightgray;
    min-width: 100px; 
    border-radius: 4px; 
}

.dropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown li {
    cursor: pointer;
    padding: 10px;
}

.dropdown li:hover,
.dropdown li:focus{
    font-weight: 600;
    background-color: #eee;
}

/* reply textarea */

.reply-input-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 5px 0 50px;
    width: 80%;
    gap: 15px;
}

.reply-textarea{
    font-size: 16px;
    margin: 0;
}

.reply-btn{
    font-size: 16px;
    padding: 8px 12px;
    margin: 0;
}

/* images */

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

/* utility */
.hidden{
    display: none;
}